{% extends 'layout.html' %}

{% block title %}Add Doctor{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <a class="navbar-brand" href="{{ url_for('admin_dashboard') }}">Nyalik Hms</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">Doctors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="{{ url_for('doctor_speciality') }}" class="dropdown-item">Doctor Specialization</a>
                            <a href="{{ url_for('add_doctor') }}" class="dropdown-item">Add & Manage doctors</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">Users
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="{{ url_for('manage_users') }}" class="dropdown-item">Manage Users</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">Patients
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="#" class="dropdown-item">Manage Patients</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Contact-Us Queries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Unread Queries</a>
                            <a class="dropdown-item" href="#">Read Queries</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <h5 class="dropdown-item">{{ session['fullName'] }} </h5>
                            <hr>
                            <a href="{{ url_for('admin_profile') }}" class="dropdown-item">Profile</a>
                            <hr>
                            <a href="{{ url_for('admin_logout') }}" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Add & Manage Doctors</h5>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="container">
                <div class="main_content" style="margin: 20px 0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="login_section">
                                <form action="{{ url_for('add_doctor') }}" method="post" class="login_form">
                                    <!-- Message -->
                                    <div class="form-group my-3">
                                        {% if message %}
                                        <span class="errrors text-success">{{ message }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <!-- FullName -->
                                        <div class="col-6">
                                            <div class="form-group my-3">
                                                <label for="FullName">Full Name</label>
                                                <input type="text" name="fullName" value="" class="form-control">
                                                {% if fullName_error %}
                                                <span class="errors text-danger">{{ fullName_error }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- EmailAddress -->
                                        <div class="col-6">
                                            <div class="form-group my-3">
                                                <label for="emailAddress">Email Address</label>
                                                <input type="email" name="emailAddress" value="" class="form-control">
                                                {% if emailAddress_error %}
                                                <span class="errors text-danger">{{ emailAddress_error }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Doctor Speciality -->
                                    <div class="form-group my-3">
                                        <label for="speciality">Doctor Speciality</label>
                                        <select name="doctorSpeciality" class="form-control">
                                            {% for row in db_specialization %}
                                            <option value="{{ row['speciality'] }}">{{ row['speciality'] }}</option>
                                            {% endfor %}
                                        </select>
                                        {% if doctorSpeciality_error %}
                                        <span class="errors text-danger">{{ doctorSpeciality_error }}</span>
                                        {% endif %}
                                    </div>

                                    <div class="row">
                                        <!-- ConsultationFee -->
                                        <div class="col-6">
                                            <div class="form-group my-3">
                                                <label for="ConsultationFee">Consultaion Fee</label>
                                                <input type="text" name="consultationFee" value="" class="form-control">
                                                {% if consultationFee_error %}
                                                <span class="errors text-danger">{{ consultationFee_error }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Physical address -->
                                        <div class="col-6">
                                            <div class="form-group my-3">
                                                <label for="physicalAddress">Physical Address</label>
                                                <input type="text" name="physicalAddress" value="" class="form-control">
                                                {% if physicalAddress_error %}
                                                <span class="errors text-danger">{{ physicalAddress_error }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- Password -->
                                        <div class="col-6">
                                            <div class="form-group my-3">
                                                <label for="Password">Password</label>
                                                <input type="password" name="password" value="" class="form-control">
                                                {% if password_error %}
                                                <span class="errors text-danger">{{ password_error }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- ConfirmPassword -->
                                        <div class="col-6">
                                            <div class="form-group my-3">
                                                <label for="confirmPassword">Confirm Password</label>
                                                <input type="password" name="confirmPassword" value=""
                                                    class="form-control">
                                                    {% if confirmPassword_error %}
                                                    <span class="errors text-danger">{{ confirmPassword_error }}</span>
                                                    {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Submit btn -->
                                    <div class="form-group my-3">
                                        <input type="submit" value="Add Doctor" class="btn w-100">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Doctors available -->
                        <div class="col-md-6" style="margin: 20px 0;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>FullName</th>
                                        <th>Email Address</th>
                                        <th>Speciality</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for doc_row in all_doctors %}
                                    <tr>
                                        <td>{{ count }}</td>
                                        <td>{{ doc_row['fullName'] }}</td>
                                        <td>{{ doc_row['emailAddress'] }}</td>
                                        <td>{{ doc_row['speciality'] }}</td>
                                        <td><a href=""><i class="bi bi-eye"></i></a> | <a href="" class="text-danger"><i class="bi bi-trash"></i> </a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}