{%extends 'layout.html'%}

{%block title%}Admin Password Reset{%endblock%}

{%block content%}
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <a class="navbar-brand" href="{{ url_for('admin_dashboard') }}">Nyalik Hms</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">Doctors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="#" class="dropdown-item">Doctor Specialization</a>
                            <a href="#" class="dropdown-item">Add doctor</a>
                            <a href="#" class="dropdown-item">Manage doctors</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">Users
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="#" class="dropdown-item">Manage Users</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">Patients
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a href="#" class="dropdown-item">Manage Patients</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Contact-Us Queries
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Unread Queries</a>
                            <a class="dropdown-item" href="#">Read Queries</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Admin <span
                                class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <h5 class="dropdown-item">{{ session['fullName'] }} </h5>
                            <hr>
                            <a href="{{ url_for('admin_profile') }}" class="dropdown-item">Profile</a>
                            <hr>
                            <a href="{{ url_for('admin_logout') }}" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main_title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Password Reset</h5>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="container">
                <div class="main_content" style="margin: 20px 0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="login_section">
                                <form action="{{ url_for('admin_password_reset') }}" method="post" class="login_form">
                                    <!-- Message -->
                                    <!-- Current password -->
                                    <div class="form-group my-3">
                                        <label for="current password">Current Password</label>
                                        <input type="password" name="currentPassword" value="" class="form-control">
                                        {%if currentPassword_error%}
                                        <span class="errors text-danger">{{ currentPassword_error }}</span>
                                        {%endif%}
                                    </div>
                                    <!-- New Password -->
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group my-3">
                                                <label for="New Password">New Password</label>
                                                <input type="password" name="newPassword" value="" class="form-control">
                                                {%if newPassword_error%}
                                                <span class="errors text-danger">{{ newPassword_error }}</span>
                                                {%endif%}
                                            </div>

                                        </div>
                                        <!-- Confirm New Password -->
                                        <div class="col-6">
                                            <div class="form-group my-3">
                                                <label for="Confirm New Password">Confirm New Password</label>
                                                <input type="password" name="confirmNewPassword" value=""
                                                    class="form-control">
                                                    {%if confirmNewPassword_error%}
                                                    <span class="errors text-danger">{{ confirmNewPassword_error }}</span>
                                                    {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Submit btn -->
                                    <div class="form-group my-3">
                                        <input type="submit" value="Reset Password" class="btn w-100">
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}