{% extends 'layout.html' %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <a class="navbar-brand" href="{{ url_for('home') }}">Nyalik Hospital System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Appointments</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">My Profile</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Departments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
            <li class="nav-item">
                <a href="{{ url_for('user_logout') }}" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div id="body">
    <div class="container">
        <div class="col-md-12">
            <div class="main_title">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Dashboard</h5>
                    </div>
                    <div class="col-md-6">
                        <h6 class="float-right">Welcome back, {{ full_name }}</h6>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="container">
            <div class="main_content">
                <div class="row">
                    <div class="col-md-4">
                        <a href="">Book an appointment <i class="bi bi-arrow-right-circle"></i></a>
                    </div>
                    <div class="col-md-4">
                        <a href="">View doctors available <i class="bi bi-arrow-right-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}