{% extends 'layout.html' %}
{% block title %}User Forgot Password{% endblock %}
{% block content %}
<div id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login_section">
                    <div class="back_link">
                        <a href="{{ url_for('user_login') }}"><i class="bi bi-arrow-left-circle"></i> back</a>
                    </div>
                    <h3 style="font-size: 30px;">User Password Reset</h3>
                    <hr>
                    <form action="{{ url_for('user_forgot_password') }}" method="post" class="login_form">
                        <!-- Message -->
                        <div class="form-group my-3">

                        </div>
                        <!-- Email Address -->
                        <div class="form-group my-3">
                            <label for="emailAddress">Email Address</label>
                            <input type="email" name="emailAddress" value="" class="form-control">
                            {% if emailAddress_error %}
                            <span class="errors text-danger">{{ emailAddress_error }}</span>
                            {% endif %}
                        </div>
                        <div class="row">
                            <!-- New Password -->
                            <div class="col-6">
                                <div class="form-group my-3">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" name="newPassword" value="" class="form-control">
                                    {% if newPassword_error %}
                                    <span class="errors text-danger">{{ newPassword_error }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Confirm New Password -->
                            <div class="col-6">
                                <div class="form-group my-3">
                                    <label for="newPasswordConfirm">Confirm New Password</label>
                                    <input type="password" name="confirmNewPassword" class="form-control">
                                    {% if confirmNewPassword_error %}
                                    <span class="errors text-danger">{{ confirmNewPassword_error }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Submit btn -->
                        <div class="form-group my-3">
                            <input type="submit" value="Reset Password" class="btn w-100">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}